#foreach($signature in $signatures)
public class $signature.Name
{
#foreach($property in $signature.Properties)
#if($property.TypeString == "array")
    public virtual List<$property.Name> $property.Name { get; set; }
#elseif($property.TypeString == "object")
    public virtual $property.Name $property.Name { get; set; }
#else
    public virtual $property.TypeString $property.Name { get; set; }
#end
#end
}

#end